@{
    ViewBag.Title = "What ToDo";
}

<div class="jumbotron">
    <h2>What ToDo</h2>
    <p class="lead">
        Welcome to your personal organizer! You can use "What ToDo" to create running list of tasks, keep a track
        of the ones which are active Vs completed.
    </p>   
</div>